src/main/mule/test-app-1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
   <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="501347fb-5f26-44ba-91f1-62df0fea3d7d">
      <http:listener-connection host="0.0.0.0" port="8081" />
   </http:listener-config>
   
   <spring:config name="Spring_Config" doc:name="Spring Config" doc:id="8500024f-30e8-46e1-8778-7d44b591744a" files="springbeans.xml" />
   
   <flow name="test-app-1Flow" doc:id="ea6e3fd5-fea7-4e0b-8cf0-14311d2b360d">
      <http:listener doc:name="Listener" doc:id="4a60af51-dc08-42f3-a68a-ef1b881a97e7" config-ref="HTTP_Listener_config" path="/app1" />
      <logger message='#["INFO level log from " ++ payload]' level="INFO" doc:name="Logger - INFO" />
      <logger message='#["ERROR level log from " ++ payload]' level="ERROR" doc:name="Logger - Error" />
      <ee:transform doc:name="Transform Message" doc:id="bea9571c-b92b-442f-ab20-a8733c9fa397">
         <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Hello App1!"]]></ee:set-payload>
         </ee:message>
      </ee:transform>
   </flow>
</mule>